@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.navbar{
    height: 55px;
    position: absolute;
    width: 100%;
    background-color: #007D8A;
    display: flex;
    justify-content: space-between;

}

.navbar li a{
    text-decoration: none;
    color: white;
}

.logo{
    height: 60%;
    padding: 0 50px;
}

.logospan{
    font-size: 45px;
    padding: 0 50px;
}