@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.header{
    display: flex;
    height: 70px;
    background-color: #007D8A;
    justify-content: space-between;
    align-items: center;
}
.header .logo{
    display: flex;
    align-items: center;
    padding: 25px;
}
.logo img{
    height: 50px;
}

.nombreweb{
    padding: 20px;
}

.link a{
    padding: 8px;
    text-decoration: none;
    color: white;
}

.link a:hover{
    color: blueviolet;
    cursor: pointer;
}

.boton{
    padding: 20px;
    border-radius: 2px;
}